#anagram-template
  .alert.alert-info
    %a.close{'data-dismiss' => "alert"} ×
    %p ${dateTime}
    %p ${anagramsLength} anagrams found for '${word}' in ${time}ms
    {{if anagrams}} 
    %p 
      %strong > ${anagrams}
    {{/if anagrams}}