%h2 Anagrams finder

-Anagram.all.each do |an|
  = an.word + " " + an.sorted_word
  %br/
=render :partial => 'form'


= simple_form_for(:anagram, url: '/anagrams/search', method: 'get', remote: true, html: {class: 'form-vertical', id: 'search'}) do |form|
  = form.text_field :word
  = form.submit "find anagrams"

.anagrams